<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWFlBI2C_mH7Tnrr3d6kN9KSsgdnTxwxA</string>
	<key>GCM_SENDER_ID</key>
	<string>497881747557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dismovApp</string>
	<key>PROJECT_ID</key>
	<string>petappdb-5f982</string>
	<key>STORAGE_BUCKET</key>
	<string>petappdb-5f982.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497881747557:ios:97793349d17e07c1e0768c</string>
</dict>
</plist>